<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="module" src="/javascripts/blog.js">
    </script>
    <script type="module" src="/javascripts/contract.js">
    </script>

    <title>Blog Page Setup</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="header">Software-Developer Blog
        <button id="btnLogin">Login</button>
        <button id="btnBack"><a href="#" onclick="history.go(-1);return false">Back</a></button>
        <button id="btnBlog"><a href="/">Blog</a></button>
        <button id="btnBookmark"><a href="/bookmark">Bookmarks</a></button>
        <button id="btnAbout"><a href="/about">About</a></button>
    </div>

    <div class="overview">
        <!--blogs overview page-->
        <div id="blogSummary">
            <button id='add'>add</button>
        </div>

        <!--full blog page-->
        <div id="blogFullpage">
            <!--
            <h1>Blog title</h1>
            <p id='tdr'>here is the short description about the topic</p>
            <p id='content'>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi quae commodi
                doloremque inventore rerum ex facere quas eaque voluptates placeat? Quam, doloribus accusantium
                amet vero ex corrupti delectus modi ea.</p>
            -->
        </div>
    </div>

    <!-- Nav Bar Selection, blog titles in navbar-->
    <div id="navBlogTitles" class="navbar">
        <h2>Blog List</h2>
    </div>

</body>

</html>